* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

li {
    display: inline-block;
}

/* Header */
.header {
    background-image: linear-gradient(to left, $map-get ($colores, primary), $map-get($colores, secondary));
    width: 100%;

}

@media screen and (max-width: 500px) {
    .header {
        height: 100px;
        width: 100%;
    }

    .logo {
        height: 83px;
        width: 98px;
        margin: 10px;
    }

    .link__header {
        display: none;

    }

    .buscador {
        display: none;
    }

    .header__nav {
        display: flex;
        justify-content: space-between;
    }

    li {
        margin-top: 40px;
    }

    .lupa {
        margin-right: 20px;

    }

    .lupa1 {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .header__nav {
        display: flex;
        justify-content: space-between;
    }

    .header {
        height: 170px
    }

    .logo {
        height: 120px;
        width: 140px;
        margin-top: 30px;
        margin-left: 40px;
    }

    .lupa {
        display: none;
    }

    .navegacion__mobile {
        display: none;
    }

    .buscador {
        margin-top: 70px;
        margin-right: 200px;
        height: 40px;
        width: 800px;
    }

    .link__header {
        text-decoration: none;
        padding: 40px;
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .link__header:hover {
        box-shadow: 5px 2px 20px black;

    }
}

@media screen and (min-width: 500px) and (max-width: 999px) {
    .header__nav {
        display: flex;
        justify-content: space-between;
    }

    .header {
        height: 170px;
    }

    .logo {
        height: 120px;
        width: 150px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .lupa {
        display: none;
    }

    .navegacion__mobile {
        display: none;
    }

    ul {
        margin-top: 70px;
        margin-right: 20px;
    }

    .link__header {
        text-decoration: none;
        color: black;
        margin: 10px;
    }

    .buscador {
        margin-right: 20px;
        width: 250px;
        height: 25px;
    }


}




/* main */
h3 {
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.link__comprar {
    margin-left: 90px;
    text-decoration: none;
    color: black;
    border-top: 1px solid black;
    margin-top: 15px;
}

.link__comprar:hover {
    color: rgb(73, 73, 73);
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    border: 1px solid black;
    padding: 10px;

    ;
}

.boton {
    margin-left: 80px;
    margin-bottom: 10px;
}

h1:hover {
    color: blue;
    background-color:map-get($map: colores, $key:thirty );
}

@media screen and (max-width: 500px) {
    .container__inicio {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

}

.container__productos {
    width: 100%;
    display: flex;


}

.imagen1 {
    width: 100%;
    height: 100%;
    padding: 1px
}


// aplicacion de extend y mixin, no encontre otro lugar donde poder utilizarlo//

@mixin sizes ($Acarta, $Lcarta) {
    height:$Acarta ;
    width: $Lcarta;
    
}

.carta {
    @include sizes(250px, 250px);
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 400ms ease;
}

.cartas__productos {

    @extend.carta;

    background-color: rgb(201, 162, 33);
    box-shadow: 0px 1px 10px rgb(0, 0, 8);

    cursor: default;
}

.cartas__productos:hover {
    box-shadow: 0px 1px 20px black;


}

@media screen and (max-width: 500px) {
    .container__productos {
        padding-left: 50px;
        display: flex;
        flex-direction: column;


    }

    .cartas__productos:hover {
        box-shadow: 0px 1px 20px black;


    }


}

@media screen and (min-width: 500px) and (max-width: 999px) {
    .container__inicio {
        display: flex;
        flex-direction: column;
    }

    .ofertas {
        height: 500px;
        width: 500px;
        margin-left: 150px;
    }

    .anuncio {
        text-align: center;
    }

    .container__productos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cartas__productos {
        margin-left: 100px;
    }
}

@media screen and (min-width: 1000px) {
    .container__inicio {
        display: flex;
        justify-content: space-around;
        margin-left: 100px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .anuncio {
        height: 50px;
        width: 500px;
        margin-left: 600px;
    }

    .ofertas {
        height: 300px;
        width: 300px;
        margin-left: 670px;
    }

    .container__productos {
        display: flex;
        flex-wrap: wrap;

    }

    .cartas__productos {
        margin-left: 100px;
    }
}




/* footer */
@media screen and (min-width: 0px) and (max-width: 499px) {
    .container__footer {
        display: flex;
        justify-content: space-around;

        background-image: linear-gradient(to left, rgb(219, 177, 36), rgb(194, 194, 194));
    }

    .logo__footer {
        height: 83px;
        width: 98px;
        margin: 20px;
        margin-top: 30px;
    }

    .comentario {
        margin-top: 60px;
    }
}

@media screen and (min-width: 500px) and (max-width: 999px) {
    .container__footer {
        display: flex;
        justify-content: space-around;
        background-image: linear-gradient(to left, rgb(219, 177, 36), rgb(194, 194, 194));
        height: 100px;
    }

    .logo__footer {
        width: 100px;
        height: 80px;
        margin-left: 50px;
        margin-top: 10px;
    }

    .comentario {
        margin-top: 40px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1000px) {
    .container__footer {
        display: flex;
        justify-content: space-around;
        background-image: linear-gradient(to left, rgb(219, 177, 36), rgb(194, 194, 194));
        height: 100px;
        margin: 0;
    }

    .logo__footer {
        height: 100px;
        width: 120px;
    }

    .comentario {
        margin-top: 30px;
        text-decoration: none;
        color: black;
    }

}